<form action="/login" method="post">
<div class="window">
	<img id="logo" src="/imgs/test-logo.png"/>
	<div class="container">
		<div class="username">
		    <input id="username" type="text" placeholder="Username" name="username" required>
		</div>
		<div class="password">
		    <input id="password" type="password" placeholder="Password" name="password" required>
		</div>    
	    <button id="login" type="submit">Login</button>
	</div>
</form>
	<div class="or">
		<h3><span>or</span></h3>
	</div>
	<div></div>
	<a href="/auth/google">
		<div class="google-btn">
			<img id="google-logo" src='./imgs/google-logo.png'></img>
			<p id="login-google">Login With Google</p>
		</div>

	</a>
</div>