<form action="/register" method="post">
	<div class="window">
		<img id="logo" src="/imgs/test-logo.png"/>
		<div class="container">
		    <div class="space" ><input id="username" type="text" placeholder="Username" name="username" required></div>
		    <div class="space"><input id="password" type="password" placeholder="Password" name="password" required></div>
		    <div class="space"><input id="re-password" type="password" placeholder="Confirm Password" name="password2" required></div>
		    <button id="register" type="submit">Register</button>
	  	</div>
  	</div>
</form>