<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./imgs/favicon.png" />

    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <title>Z-url</title>
</head>

<body>
	<img id="logo" src="/imgs/test-logo.png"/>
	<div id="guide_title">
		<h1>Z-URL Guide</h2>
		<p>Welcome to Z-URL! This page will help to explain the features present in our web game.</p>
	</div>
	<br/>
	<div id="guide_features">
		<h3>Generating a Zombie</h2>
		<p>Before you can enjoy the game, you need to becom... er... create a zombie! To do this you need to register one of two ways: either create an account manually by clicking on Register and filling in the required fields. Or, you can login with Google. After doing one of the two methods, you'll have your zombie!</p>
		<br/>
		<h3>Zombie Stats</h2>
		<p>What do all those numbers belonging to your zombie mean? HP is how much life your zombie has. Attack is how much HP your zombie can take away from a human when they attack. Defense blocks attack damage from a human. And Speed determins who attacks first.</p>
		<br/>
		<h3>Fighting Humans</h2>
		<p>You're a zombie, zombies fight humans, so let's learn how to do that here. Clicking on Battle will take you to the battle page. Here you have the option of fighting three levels of humans: weak, medium, and strong. These three opponents have random stats, the strong human will have the highest stats, followed by the medium human, and finally the weak human has the lowest stats. Clicking on Attack next to their names will start a battle. If you win, you get that human's body as a resource and three new humans are randomly generated for you. If you lose, try the other humans. If you can't win against any of them, then you'll need to either make a new zombie by creating another account, or a friend has to give you a stronger body.</p>
		<br/>
		<h3>Becoming Stronger</h3>
		<p>After a victory, clicking on the Bodies link will take you to your bodies page. Here you'll have the name, stats, and a URL for each human you defeated. To take control of a new body, copy and paste the URL text into your web browser's search field. Press enter, then you'll be taken to a new page asking you to confirm if you want the new body. Click on confirm, and now you're in control of a new zombie!</p>
		<br/>
	</div>
	{{> menu}}
</body>

	{{> footer}}

</html>