<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./imgs/favicon.png" />
    <title>Z-url</title>
</head>

<body>	
  {{> login_form}}	
	{{> menu}}
</body>

	{{> footer}}

</html>