<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/./imgs/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/./styles/menu.css" />
    <link rel="stylesheet" type="text/css" href="/./styles/result.css" />
    <title>Z-url</title>
</head>

<body>
	<div class="logo"><img id="logo" src="/imgs/test-logo.png"/></div>
	<h1>Battle Result</h1>
	{{#each log}}
		<p>{{this}}</p>
	{{/each}}
	<h3>
		{{#if winner}}
			You win!
		{{else}}
			You lose!
		{{/if}}
	</h3>
	{{> menu}}
</body>

	{{> footer}}

</html>