body {
	text-align: left;
}

p {
	color: #f5f5f1;
}

h1 {
	text-decoration: underline;
	color: #e50914;
}

h3 {
	color: #21ac1d;
}

#guide_title {
	text-align: center;
	display: inline;
}

#guide_features {
	text-align: center;
	width: 85%;
	left: 0px;
	right: 0px;
	margin: auto;
}

#logo {
	width: 100px;
}

#menu {
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	width: 60%;
	text-align: center;
	color: #f7f7f7;
}

footer {
	color: #f7f7f7;
}

a {
	color: #f7f7f7;
	text-decoration: none;
}
