td {
	text-align: center;
	color: #f5f5f1;
}

th {
	text-align: center;
	color: #f5f5f1;
	width: 20%;
	height: 34px;
}
h3 {
	color: #f7f7f7;
	text-align: center;
}
a {
	color: #f7f7f7;
	text-decoration: none;
}
.logo {
	text-align: center;
}
#logo {
	width: 180px;
	padding-bottom: 5%;
}
.table {
	text-align: center;
}
table {
	display: inline-block;
}

#weak {
	background-color: #21ac1d;
}
#strong {
	background-color: #e50914;
}
#medium {
	background-color: #e5091454;
}
