body {
	background-color: #221F1F;
	font-family: "Andale Mono", monospace;
	zoom:1.5 ;
}
.logo {
	text-align: center;
}
#logo {
	width:180px;
	padding-bottom: 5%;
}
h1 {
	text-align: center;
	color: #E50914;
	font-size: 40px;
	margin: 10px;
}
td {
	text-align: left;
	color: #F5F5F1;
}

th {
	text-align: left;
	color: #F5F5F1;
}
a {
	color: #F7F7F7;
	text-decoration: none;
}
#menu {
	position: sticky;
}