a {
	color: #f7f7f7;
	text-decoration: none;
}
h1 {
	text-align: center;
	color: #e50914;
	font-size: 40px;
	margin: 10px;
}
h3 {
	color: #f5f5f1;
	text-align: center;
}
.logo {
	text-align: center;
}
#logo {
	width: 150px;
}
th {
	text-align: left;
	color: #f5f5f1;
	width: 20%;
}
tr:nth-child(odd) {
	background-color: #21ac1d;
}
tr {
	text-align: left;
	color: #f5f5f1;
	width: 20%;
}
.table {
	text-align: center;
}
table {
	display: inline-block;
}
form {
	text-align: center;
}
#confirm {
	width: 241px;
	height: 35px;
	background-color: #ea1f29e6;
	border: 0.5px solid #000000;
	box-shadow: 0 0 5px -1px #000000;
	color: #ffff;
	font-family: 'Andale Mono', monospace;
	border-radius: 5px;
	margin: 1%;
	cursor: pointer;
}

#confirm:hover {
	background-color: #e50914;
}
