a {
	color: #f7f7f7;
	text-decoration: none;
}
p {
	color: #f7f7f7;
}
.window {
	width: 40%;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	text-align: center;
}
#logo {
	width: 180px;
	padding-bottom: 13%;
}
#username {
	width: 241px;
	height: 34px;
}
#password {
	width: 241px;
	height: 34px;
}
#re-password {
	width: 241px;
	height: 34px;
}
.space {
	padding-bottom: 2%;
}
#register {
	width: 241px;
	height: 35px;
	background-color: #21ac1d;
	border: 0.5px solid #000000;
	box-shadow: 0 0 5px -1px #000000;
	color: #ffff;
	font-family: 'Andale Mono', monospace;
	border-radius: 5px;
	margin: 1%;
	cursor: pointer;
}
#register:hover {
	background-color: green;
}
